.padre{
    display: flex;
}
.pokemon{
  width: 150px;
  background-color: tomato;
  margin: 2px;
  padding: 2px;
}
.habilidad{
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 5px;
    background-color: lightgreen;
    padding: 2px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: lightblue;
}